/* Tùy chỉnh thanh cuộn */
ul::-webkit-scrollbar {
    width: 10px; /* Độ rộng thanh cuộn */
    /* padding-left: 5%; */
}

/* Tùy chỉnh phần "tay cầm" của thanh cuộn */
ul::-webkit-scrollbar-thumb {
    background-color: #C3C3C3; /* Màu của thanh cuộn */
    border-radius: 10px; /* Bo góc cho thanh cuộn */
    border: 2px solid transparent; /* Đảm bảo không có viền quanh thanh cuộn */
}

/* Hiệu ứng hover cho thanh cuộn */
ul::-webkit-scrollbar-thumb:hover {
    background-color: #C3C3C3; /* Màu khi hover */
}

/* Tùy chỉnh phần "track" (phần trống mà thanh cuộn di chuyển) */
ul::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu của track */
    border-radius: 10px; /* Bo góc cho track */
}

/* Loại bỏ mũi tên thanh cuộn (mặc định của một số trình duyệt) */
ul::-webkit-scrollbar-button {
    display: none;
}
